body,
html {
  background-image: url("https://front.darkanddarker.com/media_8.webp"); /* This is the correct link to the image */
  background-size: cover;
  font-size: 100%;
  font-family: Arial, sans-serif; /* Default font family */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Styling the nav bar, look at how the selectors are */
nav ul {
  /*Try to about, classes, and commnity more organized */
  list-style: none;
  padding: 0;
  background-color: #444;
}

nav ul li a {
  color: #ddd;
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: block;
}

nav ul li {
  border-bottom: 1px dotted #ddd;
}

/* Styling the logo */
/* first-child, which selects the top element at the top */
nav div:first-child {
  background-color: #222;
}

nav div:first-child h1 {
  line-height: 0;
  padding: 0.8rem 0rem;
  text-align: center;
}
/* Selects the img header through, the NAV, then the DIV, then the first-child which cascades to being the IMG element  */
/* nav div:first-child img{
    filter: contrast(0);
 } */
nav div:first-child h1,
nav ul {
  margin: 0;
}
/* Styling for larger devices */
/* This targets the screen */
@media only screen and (min-width: 30em) {
  nav {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
/* Look at how each selector is chosen, such as nav ul, 
both being in the same div, however they are both being selector, 
this is the coomination selector I think */
  nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  nav div:first-child h1 {
    padding: 0;
    margin: 0 1rem;
  }
  nav:first-child img {
    height: 40px;
  }

  nav ul li {
    border-bottom: none;
    flex: 1 0 auto;
    position: relative;
  }
  nav ul li a {
    padding: 1.2em 1em;
  }
  nav ul li a::before,
  nav ul li a::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.2s width;
  }
  nav ul li a:before {
    left: 0;
  }

  nav ul li a:hover::after,
  nav ul li a:hover::before {
    width: 50%;
    color: grey;
  }
}

 .container p, h1 {
  /*Make this centered*/
  display: flex;
  font-size: 20px;
  /* background-color: red; */
  color: white;
  justify-content: center;
  text-align: center;
  padding: 50px 10px 10px 10px;
  margin: 50px;
  word-break: keep-all;
}

.container .dnd {
  display: flex;
  justify-content: center;
  padding: 50px 10px 10px 10px;
  margin: 50px;
  
}

.images {
  display: flex;
  /* This below helps make the background transparent, while keeping the content 
  inside still it's own opacity */
  background-color: rgba(0, 0, 0, .5); 
  color: #fff;
  /* Ends here for the opacity this */
  padding: 10px;
  margin: 50px 50px;
  justify-content: space-around;
}

.line {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
}

#about {
  background-image: url(images/media_6.webp);
  background-size: cover;
  

}


  #about p {
  display: flex;
  /* padding-left: 1112px; */
  background-color: red;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;

 }

 #about .welcome {
  display: flex;
  justify-content: center;
  padding: 10px;
 
 }

 /* #about .gameplay {
  display: flex;
  flex-direction: column;
  justify-content: right;
 } */
