body, html {
    background-image: url('https://front.darkanddarker.com/media_8.webp'); /* This is the correct link to the image */
    background-size: cover;
    font-size: 100%;
    font-family: Arial, sans-serif; /* Default font family */
}

body, html {
    margin: 0;
    padding: 0;
}

/* Styling the nav bar, look at how the selectors are */
nav ul{  /*Try to about, classes, and commnity more organized */
   list-style: none;
   padding: 0;
   background-color: #444;
}

nav ul li a {
    color: #ddd;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
}

nav ul li {
    border-bottom: 1px dotted #ddd;
}

 /* Styling the logo */

 nav div:first-child{
    background-color: #222;
 }

 p { /*Make this centered*/
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 100px 100px 100px 100px;
    margin: 100px 100px 100px 100px;
    word-break: keep-all;
}




